<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lpc.main_module">

    <application>
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.SecondActivity" />
        <activity
            android:theme="@style/LoginTheme"
            android:name=".ui.activity.LoginActivity" />
    </application>

</manifest>