<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lpc.main_module">

    <application>
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.SecondActivity" />
        <activity
            android:name=".ui.activity.ui.login.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.activity.ui.register.RegisterActivity"
            android:theme="@style/LoginTheme" />
    </application>

</manifest>