<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lpc.module_profile">

    <application>
        <activity android:name=".ui.collect.CollectActivity"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
    </application>

</manifest>